// Break points
$--bp-size-small: 576px;
$--bp-size-medium: 768px;
$--bp-size-large: 992px;
$--bp-size-extra-larger: 1200px;

// Padding
$--default-padding-space: 8px;
$--padding-space-1: 8px;
$--padding-space-2: calc(8px * 2);
$--padding-space-3: calc(8px * 3);
$--padding-space-4: calc(8px * 4);


// Margin
$--default-margin-space: 8px;
$--margin-space-1: 8px;
$--margin-space-2: calc(8px * 2);
$--margin-space-3: calc(8px * 3);
$--margin-space-4: calc(8px * 4);